/*#region Переменные*/
/*#endregion Переменные*/
/* region Блок с фото */
.parent_block {
  background: #0F1010;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}
/* region Первый блок */
.first_block {
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .first_block {
    flex-direction: row;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .first_block {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .first_block {
    flex-direction: column;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .first_block {
    flex-direction: column;
  }
}
@media (max-width: 639px) {
  .first_block {
    flex-direction: column;
  }
}
.first_block__left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin-right: 40px;
}
.first_block__right {
  display: grid;
  gap: 40px;
}
.first_block__right span {
  font-size: 96px;
  font-weight: 700;
  line-height: 110px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .first_block__right span {
    margin-top: 40px;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .first_block__right span {
    margin-top: 40px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .first_block__right span {
    margin-top: 40px;
  }
}
@media (max-width: 639px) {
  .first_block__right span {
    margin-top: 40px;
  }
}
/* endregion Первый блок */
/* region Второй блок */
.second_block {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .second_block {
    display: flex;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .second_block {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .second_block {
    display: none;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .second_block {
    display: none;
  }
}
@media (max-width: 639px) {
  .second_block {
    display: none;
  }
}
/* endregion Второй блок */
/* region Третий блок */
.third_block {
  display: grid;
  gap: 47px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .third_block {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .third_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .third_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .third_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 639px) {
  .third_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
/* endregion Третий блок */
/* region Четвертый блок */
.fourth_block {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .fourth_block {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .fourth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .fourth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .fourth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 639px) {
  .fourth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/* endregion Четвертый блок */
/* region Пятый блок */
.fifth_block {
  display: grid;
  gap: 47px;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .fifth_block {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .fifth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .fifth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .fifth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 639px) {
  .fifth_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
/* endregion Пятый блок */
/* region Шестой блок */
.sixth_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .sixth_block {
    flex-direction: row;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .sixth_block {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .sixth_block {
    flex-direction: column;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .sixth_block {
    flex-direction: column;
  }
}
@media (max-width: 639px) {
  .sixth_block {
    flex-direction: column;
  }
}
.sixth_block__left {
  display: grid;
  gap: 47px;
  grid-template-rows: 1fr 1fr;
  margin-right: 47px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .sixth_block__right {
    margin-top: 40px;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .sixth_block__right {
    margin-top: 40px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .sixth_block__right {
    margin-top: 40px;
  }
}
@media (max-width: 639px) {
  .sixth_block__right {
    margin-top: 40px;
  }
}
/* endregion Шестой блок */
/* region Седьмой блок */
.seventh_block {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .seventh_block {
    flex-direction: row;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .seventh_block {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .seventh_block {
    flex-direction: column;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .seventh_block {
    flex-direction: column;
  }
}
@media (max-width: 639px) {
  .seventh_block {
    flex-direction: column;
  }
}
.seventh_block__left div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seventh_block__right {
  display: grid;
  gap: 47px;
  grid-template-rows: 1fr 1fr;
  margin-left: 64px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .seventh_block__right {
    margin-top: 40px;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .seventh_block__right {
    margin-top: 40px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .seventh_block__right {
    margin-top: 40px;
  }
}
@media (max-width: 639px) {
  .seventh_block__right {
    margin-top: 40px;
  }
}
/* endregion Седьмой блок */
/* endregion Блок с фото */
/*# sourceMappingURL=portfolio.css.map */