{% extends 'base.html' %}

{% load compile_static %}

{% block links %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile "../static/styles/index.less" %}"/>
{% endblock %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <header class="header">
        <a class="logo" href="#">
            <img src="static/source/logo.png" alt="Логотип">
        </a>

        <ul class="buttons-list">
            <a href="#">
                <li>О НАС</li>
            </a>
            <a href="#">
                <li>УСЛУГИ</li>
            </a>
            <a href="#">
                <li>КОМАНДА</li>
            </a>
            <a href="#">
                <li>ПОРТФОЛИО</li>
            </a>
        </ul>
    </header>

    <main class="main">
        <div class="info">
            <h1 class="studio_name">Black Door</h1>

            <span class="bdsmr_hashtag">#BDSMr</span>
            <span class="tattoo_studio">Тату салон в Самаре</span>
            <span class="address">5-я просека, 129, Самара</span>
            <span class="phone">
                <a href="tel:+79270171661">+7 (927) 017-16-61</a>
            </span>
        </div>

        <div class="services">
            <h2 class="services_title">УСЛУГИ</h2>

            <div class="slider">
                <div class="slider__item" id="tattoos">
                    <div class="inside_box">
                        <img src="static/source/slider/image1.png" alt="Image 1">
                        <h2>ТАТУИРОВКИ</h2>
                    </div>
                </div>
                <div class="slider__item" id="sketches">
                    <div class="inside_box">
                        <img src="static/source/slider/image2.png" alt="Image 2">
                        <h2>ЭСКИЗЫ</h2>
                    </div>
                </div>
                <div class="slider__item" id="makeup">
                    <div class="inside_box">
                        <img src="static/source/slider/image3.png" alt="Image 3">
                        <h2>ПЕРМАНЕНТНЫЙ МАКИЯЖ</h2>
                    </div>
                </div>
                <div class="slider__item" id="learning">
                    <div class="inside_box">
                        <img src="static/source/slider/image4.png" alt="Image 4">
                        <h2>ОБУЧЕНИЕ</h2>
                    </div>
                </div>
                <div class="slider__item" id="certificates">
                    <div class="inside_box">
                        <img src="static/source/slider/image5.png" alt="Image 5">
                        <h2>СЕРТИФИКАТЫ</h2>
                    </div>
                </div>
            </div>

            <button class="book_session_button">ЗАПИСАТЬСЯ НА СЕАНС</button>
        </div>

        <div class="masters_work">
            <h2>РАБОТЫ НАШИХ МАСТЕРОВ</h2>

            <div class="creations">
                <div><img src="static/source/masters_work/photo1.png"></div>
                <div><img src="static/source/masters_work/photo2.png"></div>
                <div><img src="static/source/masters_work/photo3.png"></div>
                <div><img src="static/source/masters_work/photo4.png"></div>
                <div><img src="static/source/masters_work/photo5.png"></div>
                <div><img src="static/source/masters_work/photo6.png"></div>
                <div><img src="static/source/masters_work/photo7.png"></div>
                <div><img src="static/source/masters_work/photo8.png"></div>
                <div><img src="static/source/masters_work/photo9.png"></div>
            </div>

            <button class="watch_more">Посмотреть еще</button>
        </div>

        <div class="team">
            <h2>НАША КОМАНДА</h2>

            <span class="team_signature">Интересуют работы конкретного мастера?<br> В личном портфолио мастеров собрано еще больше работ, переходи на страницу, чтобы посмотреть.</span>

            <div class="masters">
                <div class="master1"></div>
                <div class="master2"></div>
                <div class="master3"></div>
                <div class="master4"></div>
                <div class="master5"></div>
            </div>
        </div>
    </main>

    <footer class="footer">

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="static/js/slider.js"></script>
    <script src="static/js/index.js" defer></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}