/*#region Переменные*/

// Colors ------------------------------------------------------------------------------------------
@black: #040404;
@white: #FFFFFF;
@buttonOutline: #565656;
@aboutBackground: #1E1E1E;
@globalBackground: #0F1010;
@masterDescription: #3A3A3A;
@viewPortfolio: #797979;

// Fonts -------------------------------------------------------------------------------------------
@ubuntu: 'Ubuntu', sans-serif;
@holtwood: 'Holtwood One SC', serif;
@roboto: 'Roboto', sans-serif;
@inter: 'Inter', sans-serif;

// Displays ----------------------------------------------------------------------------------------
@largeDesktops: ~"(min-width: 1200px)";

@forGridDesktopMax: ~"(max-width: 1375px)";

@mediumDesktopsMin: ~"(min-width: 980px)";
@mediumDesktopsMax: ~"(max-width: 1199px)";

@smallDesktopsMin: ~"(min-width: 769px)";
@smallDesktopsMax: ~"(max-width: 979px)";

@landscapePhonesMin: ~"(min-width: 640px)";
@landscapePhonesMax: ~"(max-width: 768px)";

@landscapePhonesSmaller: ~"(max-width: 639px)";

// Margins ---------------------------------------------------------------------------------------
@logoLeftMargin: 42px;
@logoTopMargin: 25px;
@headerButtonsRightMargin: 78px;
@headerButtonsHorizontalMargin: 45px;
@headerButtonsVerticalMargin: 45px;

// Sizes -----------------------------------------------------------------------------------------
@headerHeight: 75px;
@logoLargeWidth: 210px;
@logoSmallWidth: 150px;
@headerButtonFontSize: 20px;
@servicesTitleFontSize: 42px;

/*#endregion Переменные*/

/*#region Обнуление*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  content: none;
}

/*#endregion Обнуление*/

/* region Скролл */

/* Применить стили к корневому элементу <body> */
::-webkit-scrollbar {
  width: 7px; /* Ширина скроллбара */
  background-color: @globalBackground; /* Фоновый цвет скроллбара (полупрозрачный серый) */
}

/* Применить стили к треку скроллбара */
::-webkit-scrollbar-track {
  background-color: transparent; /* Прозрачный фон трека скроллбара */
}

/* Применить стили к ползунку скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #808080; /* Цвет ползунка скроллбара (серый) */
  border-radius: 6px; /* Скругленные углы ползунка */
}

/* Применить стили к активному ползунку скроллбара */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Изменение цвета ползунка при наведении (более светлый серый) */
}

html {
  scroll-behavior: smooth;
}

/* endregion Скролл */

/*#region Header*/

header {
  width: 100%;
  background: @black;

  @media @largeDesktops {
    height: @headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  @media @mediumDesktopsMin and @mediumDesktopsMax {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  @media @smallDesktopsMin and @smallDesktopsMax {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  @media @landscapePhonesMin and @landscapePhonesMax {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  @media @landscapePhonesSmaller {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.logo {
  display: flex;
  align-items: center;

  @media @largeDesktops {
    margin-left: @logoLeftMargin;
  }

  @media @mediumDesktopsMin and @mediumDesktopsMax {
    margin-left: @logoLeftMargin;
  }

  @media @smallDesktopsMin and @smallDesktopsMax {
    margin-top: @logoTopMargin;
  }

  @media @landscapePhonesMin and @landscapePhonesMax {
    margin-top: @logoTopMargin;
  }

  @media @landscapePhonesSmaller {
    margin-top: @logoTopMargin;
  }
}

.logo img {
  @media @largeDesktops {
    width: @logoLargeWidth;
  }

  @media @mediumDesktopsMin and @mediumDesktopsMax {
    width: @logoLargeWidth;
  }

  @media @smallDesktopsMin and @smallDesktopsMax {
    width: @logoLargeWidth;
  }

  @media @landscapePhonesMin and @landscapePhonesMax {
    width: @logoSmallWidth;
  }

  @media @landscapePhonesSmaller {
    width: @logoSmallWidth;
  }
}

.buttons-list {
  list-style-type: none;
  color: @white;
  font-family: @ubuntu;
  font-size: @headerButtonFontSize;

  @media @largeDesktops {
    display: flex;
    flex-direction: row;
    margin-right: @headerButtonsRightMargin;
    align-items: center;
  }

  @media @mediumDesktopsMin and @mediumDesktopsMax {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: @logoTopMargin 0;
  }

  @media @smallDesktopsMin and @smallDesktopsMax {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: @logoTopMargin 0;
  }

  @media @landscapePhonesMin and @landscapePhonesMax {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: @logoTopMargin 0;
  }

  @media @landscapePhonesSmaller {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: @logoTopMargin 0;
  }
}

.buttons-list a:not(:first-child) {
  @media @largeDesktops {
    margin-left: @headerButtonsHorizontalMargin;
  }

  @media @mediumDesktopsMin and @mediumDesktopsMax {
    margin-top: @headerButtonsVerticalMargin;
  }

  @media @smallDesktopsMin and @smallDesktopsMax {
    margin-top: @headerButtonsVerticalMargin;
  }

  @media @landscapePhonesMin and @landscapePhonesMax {
    margin-top: @headerButtonsVerticalMargin;
  }

  @media @landscapePhonesSmaller {
    margin-top: @headerButtonsVerticalMargin;
  }
}

/*#endregion Header*/