{% extends 'main/html/base.html' %}

{% load compile_static %}

{% load static %}

{% block links %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link type="image/x-icon" href="../static/source/common/logo.ico" rel="shortcut icon">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "styles/faq.less"|compile %}"/>
{% endblock %}

{% block title %}
    FAQ
{% endblock %}

{% block content %}
    <div class="answers">
            <span class="answers_title">
                ОТВЕТЫ <br/>
                НА ЧАСТО ЗАДАВАЕМЫЕ <br/>
                ВОПРОСЫ О ТАТУИРОВКАХ
            </span>
    </div>

    <div class="answers_menu">
        <div class="answers_parent">
            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Безопасны ли татуировки?</span>
                    <span class="response_span">
                        Татуировки в BlackDoor абсолютно безопасны.<br/><br/>
                        Мы придерживаемся высочайших стандартов гигиены и используем только проверенные красители и оборудование.
                        Все наши тату-мастера прошли специальную подготовку, чтобы обеспечить комфортность и безопасность каждого клиента.<br/><br/>
                        Ваша безопасность - наш приоритет номер один.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Какие скидки действуют в салоне Black Door?</span>
                    <span class="response_span">
                        1. Скидка 20% на день рождения, скидка длится 5 дней,
                        с момента даты рождения. Чтобы получить скидку,
                        необходимо предъявить паспорт.<br/><br/>
                        2. Скидка 15% за отзыв на следующий сеанс.<br/><br/>
                        3. Скидка 10% на следующей сеанс.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Есть ли противопоказания при которых нельзя делать татуировки?</span>
                    <span class="response_span">
                        Да, существуют некоторые противопоказания, при которых рекомендуется воздержаться от татуировок. К ним относятся:<br/><br/>
                        Аллергии на красители: Люди с историей аллергических реакций на красители
                        могут столкнуться с нежелательными побочными эффектами.<br/><br/>

                        Проблемы с заживлением кожи: Люди с хроническими заболеваниями,
                        которые затрудняют заживление ран,
                        могут столкнуться с осложнениями после татуировки.<br/><br/>

                        Заболевания кожи: Некоторые кожные заболевания
                        могут ухудшиться после татуировки
                        или вызвать негативную реакцию.<br/><br/>

                        Иммунные нарушения: Людям с нарушениями иммунной
                        системы следует консультироваться с врачом
                        перед татуировкой из-за возможных рисков инфекций.<br/><br/>

                        Перед назначением татуировки всегда рекомендуется проконсультироваться с врачом,
                        особенно если у вас есть какие-либо медицинские
                        состояния или вопросы по поводу безопасности.<br/><br/>
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Можно ли набить татуировку если мне меньше 18 лет?</span>
                    <span class="response_span">
                        Можно, только необходимо согласие родителей.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Как подготовится к нанесению татуировки?</span>
                    <span class="response_span">
                        Подготовка к нанесению татуировки важна для обеспечения качественного
                        и безопасного результата.
                        Вот несколько шагов, которые помогут вам подготовиться:<br/><br/>

                        Консультация: Проведите консультацию с мастером, чтобы обсудить
                        дизайн, размер, место нанесения и другие детали вашей татуировки.<br/><br/>

                        Здоровье кожи: Позаботьтесь о здоровье вашей кожи.
                        В случае каких-либо проблем (солнечные ожоги, высыпания)
                        рекомендуется отложить нанесение тату до восстановления.<br/><br/>

                        Аллергии: Если вы склонны к аллергическим реакциям,
                        уточните, какие красители будут использоваться,
                        чтобы избежать негативных последствий.<br/><br/>

                        Уход за кожей: Пару дней до татуировки не рекомендуется
                        употреблять алкоголь и наркотики,
                        так как это может влиять на заживление.<br/><br/>

                        Одежда: Выберите удобную одежду,
                        которая не будет мешать доступу к месту нанесения тату.<br/><br/>

                        Готовьтесь к процессу: Процесс может
                        занять время, поэтому подготовьтесь
                        к нему морально и физически.<br/><br/>
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Где я могу найти эскиз для тату?</span>
                    <span class="response_span">
                        При поиске идей для татуировки можно воспользоваться
                        интернет-сервисом Pinterest, просмотреть портфолио на
                        нашем сайте или в социальных сетях.<br/><br/>

                        Если вы хотите уникальный эскиз татуировки вы можете
                        обратиться к мастеру для разработки эскиза с учетом
                        ваших пожеланий.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Какие места наиболее болезненны для нанесения тату?</span>
                    <span class="response_span">
                        Боль во время нанесения татуировки может варьироваться в зависимости от
                        чувствительности каждого человека.
                        Однако, есть несколько общих мест, которые могут ощущаться более болезненно:<br/><br/>

                        Кости и хрящи: Места, где мало мягких тканей,
                        такие как кости и хрящи, могут вызвать
                        больше дискомфорта из-за отсутствия амортизации.<br/><br/>

                        Спинная кость: Кожа над позвоночником чувствительна,
                        и нанесение тату на этой области
                        может быть более болезненным.<br/><br/>

                        Ребра: Татуировки вдоль реберной области могут
                        вызвать ощущение боли из-за близости костей.<br/><br/>

                        Шея и горло: Эти области чувствительны
                        из-за высокой концентрации нервных окончаний.<br/><br/>

                        Внутренняя часть бицепса и подмышечная впадина:
                        Кожа здесь тонкая и болезненность может быть больше.<br/><br/>

                        Однако стоит помнить, что боль — субъективное ощущение,
                        и она может сильно различаться для каждого человека.
                        Наши мастера смогут помочь минимизировать
                        дискомфорт и предложить советы для более комфортной процедуры.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Как ухаживать за татуировкой?</span>
                    <span class="response_span">
                        Уход за свежей татуировкой играет важную роль в заживлении и сохранении яркости цветов.
                        Вот несколько советов, как правильно ухаживать за татуировкой:<br/><br/>

                        Чистота и гигиена: Сразу после татуировки следуйте рекомендациям мастера
                        по очищению области с использованием мягкого мыла и воды.<br/><br/>

                        Нанесение мази: Применяйте рекомендованную мазь
                        для заживления, чтобы ускорить процесс и предотвратить инфекции.<br/><br/>

                        Избегайте трения: Не царапайте, не трите и не натирайте татуировку,
                        чтобы избежать удаления краски и раздражения кожи.<br/><br/>

                        Ограничьте воздействие воды: В первые две недели
                        избегайте длительного погружения в воду (ванны, бассейны, джакузи)
                        и не допускайте чрезмерное вымачивание тату.<br/><br/>

                        Защитите от солнца: Избегайте прямой солнечной
                        экспозиции на свежую татуировку и
                        используйте солнцезащитный крем при выходе на улицу.<br/><br/>

                        Не шелушьте корку: Пусть корка, образующаяся на татуировке,
                        отпадет самостоятельно. Не пытайтесь ускорить этот процесс.<br/><br/>
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Как долго заживает татуировка?</span>
                    <span class="response_span">
                        Время заживления татуировки зависит от нескольких факторов, таких как размер,
                        место нанесения, индивидуальные особенности организма и уход за татуировкой.
                        Обычно процесс заживления занимает от 2 до 4 недель.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">В каких случаях мастер может отказаться делать тату?</span>
                    <span class="response_span">
                        Мастер может принять решение об отказе от нанесения татуировки в следующих случаях:<br/><br/>

                        Медицинские противопоказания: Если клиент имеет медицинские состояния,
                        при которых нанесение татуировки может быть опасным или
                        вызвать осложнения, мастер может отказать в интересах безопасности.<br/><br/>

                        Состояние кожи: Если кожа в зоне нанесения имеет воспаления,
                        раны, ссадины или другие проблемы, мастер может
                        временно отложить процедуру до полного восстановления.<br/><br/>

                        Состояние клиента: Если клиент находится в алкогольном
                        или наркотическом опьянении, мастер может отказать,
                        так как это может повлиять на качество и безопасность процедуры.<br/><br/>

                        Несоответствие этике: Если предполагаемый дизайн или запрос
                        клиента нарушает принципы этики, законодательство или моральные
                        нормы, мастер может отказаться от выполнения такой татуировки.<br/><br/>

                        Решение об отказе от нанесения татуировки обычно принимается
                        в интересах клиента и его безопасности,
                        а также для обеспечения высокого стандарта работы студии.
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Как можно облегчить боль при нанесении татуировки?</span>
                    <span class="response_span">
                        Выбор подходящего времени: Если вы чувствительны к боли,
                        рассмотрите возможность выбрать татуировку в период,
                        когда у вас настроение хорошее и вы отдохнули.<br/><br/>

                        Правильное дыхание: Глубокое и ровное дыхание может
                        помочь расслабиться и справиться с болевыми ощущениями.<br/><br/>

                        Расслабление: Попробуйте расслабить тело и
                        мышцы во время процесса,
                        это может уменьшить ощущение боли.<br/><br/>

                        Отвлечение: Проигрывание музыки, просмотр фильма
                        или разговор с мастером может помочь отвлечься от боли.<br/><br/>

                        Мази и кремы: На некоторых участках кожи
                        можно использовать специальные обезболивающие мази или кремы.
                        Следует обсудить этот вопрос с мастером.<br/><br/>

                        Паузы: Если болевые ощущения становятся слишком сильными,
                        можно попросить мастера сделать небольшие паузы.<br/><br/>
                    </span>
                </div>
            </div>

            <div class="answer_div">
                <svg width="57" height="31" viewBox="0 0 57 31" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleResponse(this.parentNode)">
                    <path id="arrow_up-[#337]" fill-rule="evenodd" clip-rule="evenodd"
                          d="M0.822279 1.03179C-0.274646 2.17287 -0.274646 4.02043 0.822279 5.1586L24.0799 29.2906C26.2765 31.5698 29.8401 31.5698 32.0368 29.2906L55.4659 4.98384C56.5516 3.85446 56.5657 2.02991 55.4941 0.885932C54.4 -0.284343 52.5971 -0.295532 51.4861 0.854282L30.0483 23.1011C28.9485 24.2421 27.1681 24.2421 26.0684 23.1011L4.79933 1.03179C3.70241 -0.109284 1.9192 -0.109284 0.822279 1.03179Z"
                          fill="#797979"/>
                </svg>

                <div class="spans">
                    <span class="answer_span" onclick="toggleResponse(this.parentNode.parentNode)">Что делать если татуировка перестала нравиться?</span>
                    <span class="response_span">
                        Если татуировка перестала нравиться, есть несколько вариантов:<br/><br/>

                        Коррекция дизайна: Возможно, мастер сможет внести изменения
                        в дизайн или внешний вид татуировки,
                        чтобы она больше соответствовала вашим ожиданиям.<br/><br/>

                        Татуировочное искусство: Некоторые мастера специализируются
                        на "татуировочном искусстве", где они используют свои навыки,
                        чтобы изменить или обновить существующие татуировки.<br/><br/>

                        Удаление: Если вы абсолютно не удовлетворены татуировкой,
                        вы можете рассмотреть вариант удаления
                        при помощи современных методов, таких как лазерная процедура.<br/><br/>

                        Принятие: Иногда отношение к татуировке меняется со временем.
                        Позвольте себе время на адаптацию и
                        рассмотрите возможность положительного восприятия.
                    </span>
                </div>
            </div>

            <span class="consultation">
                    Если вы недовольны своей татуировкой, обратитесь к
                    нашим мастерам за консультацией, чтобы обсудить
                    возможные варианты исправления, перекрытия или
                    удаления тату.
            </span>
        </div>
    </div>

    <script src="../static/js/faq.js"></script>
    <script src="../static/js/base.js"></script>
{% endblock %}